<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정산 / 매출</title>
    <link rel="stylesheet" href="../static/css/Pos_formCommon.css">
    <link rel="stylesheet" href="../static/css/Pos_main.css">
</head>
<body>
    <div id="main_container"> 
        <div id="Pos_form_container">
            <div id="Pos_form">
                <div class="menu_left">
                    <div class="table_list">
                        <div></div>
                    </div>
                </div>
                <div class="menu_right">
                    <div class="talbe_calculate">
                        <div class="table_num">테이블 번호</div>
                        <div class="table_orderList">주문 목록</div>
                        <div><input class="total_amount" placeholder="총액"></div>
                        <div>
                            <button class="btn">저장</button>
                            <button class="btn">취소</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>