<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴 편집</title>
    <link rel="stylesheet" href="../static/css/Pos_formCommon.css">
    <link rel="stylesheet" href="../static/css/Pos_menuEdit.css">
</head>
<body>
    <div id="main_container">
        <div class="Pos_form">
            <div class="menu_left">
                <div class="menu_list">
                    <button id="menu_selectBtn">
                        <img src="../static/img/food_img.png" class="menu_img" alt="menu_img">
                        <div><input class="text" readonly value="메뉴 이름"></div>
                        <div><input class="text" readonly value="메뉴 가격"></div>
                    </button>
                </div>
            </div>
            <div class="menu_right">
                <div class="menu_edit">
                    <button class="delete_btn">삭제</button>
                    <img class="menu_img" src="../static/img/food_img.png" alt="menu_img">
                    <div><input class="menu_nameTxt" placeholder="메뉴 이름"></div>
                    <div><input class="menu_priceTxt" placeholder="메뉴 가격"></div>
                    <div>
                        <button class="btn">저장</button>
                        <button class="btn">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>