<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정산 / 매출</title>
    <link rel="stylesheet" href="../static/css/Pos_formCommon.css">
    <link rel="stylesheet" href="../static/css/Pos_main.css">
</head>
<body>
    <div id="main_container">
        <div class="Pos_form">
            <div class="menu_left">
                
            </div>
            <div class="menu_right">
                
            </div>
        </div>
    </div>
</body>
</html>