<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 메뉴</title>
    <link rel="stylesheet" href="../static/css/Pos_formCommon.css">
    <link rel="stylesheet" href="../static/css/Pos_main.css">
</head>
<body>
    
    <div id="main_container"> <!--body-->
        <div class="Pos_form"> <!--메인 메뉴-->
            <div class="menu_left"> <!--왼쪽 메뉴창-->
                <div class="temp_box"> <!--오른쪽 메뉴창-->
                
                </div>
            </div>
            <div class="menu_right">
                <div class="btn_list">
                    <div><button class="btn">주문/결제</button></div>
                    <div><button class="btn">정산/매출</button></div>
                    <div><button class="btn">메뉴 편집</button></div>
                </div>
            </div>
        </div>
    </div>
</body> 
</html>