<link rel="stylesheet" href="../../static/css/header.css">
<head>
    <section id="header_container">
        <div id="header_form_container">
                <div id="header_form">
                <div class="left_headerMenu">
                    <div class="home_btn"><img class="home_img" src="../../static/img/home_icon.png"></div>
                    <div class="now_times">2021년 11월 26일</div>
                </div>
                <div class="right_headerMenu">
                    <div class="home_btn"><img class="calculate_img" src="../../static/img/Sales_icon.png"></div>
                    <div class="home_btn"><img class="menuEdit_img" src="../../static/img/menuEdit_icon.png"></div>
                </div>
            </div>    
        </div>
    </section>
</head> 