<link rel="stylesheet" href="../../static/css/header.css">
<head>
    <section id="header_container">
        <div id="header_form_container">
            <div id="header_form">
                
                <div class="home_btn">
                    <img class="home_img" src="../../static/img/home_icon.png">
                    <input class="text" placeholder="메인 화면" disabled>
                </div>
                
                <div class="now_times">2021년 11월 26일</div>
                
                <div class="home_btn">
                    <img class="calculate_img" src="../../static/img/Sales_icon.png">
                    <input class="text" placeholder="매출/정산" disabled>
                </div>
                
                <div class="home_btn">
                    <img class="menuEdit_img" src="../../static/img/menuEdit_icon.png">
                    <input class="text" placeholder="메뉴 편집" disabled>
                </div>
                
                
            </div>    
        </div>
    </section>
</head> 