#header_container {
    display: flex;
    justify-content: center;
}

#header_form_container {
    width: 800px;
}

#header_form_container #header_form {
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
}

#header_form .home_btn {
    margin: 10px;
    width: 80px;
    height: 80px;
}

.home_btn .home_img {
    width: 80px;
    height: 80px;
}

#header_form .now_times {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    padding: 5px;
    font-size: 20px;
    border: 3px solid black;
}