#header_container {
    display: flex;
    justify-content: center;
}

#header_form_container {
    display: flex;
    width: 70%;
    min-width: 600px;
}

#header_form_container #header_form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 3px solid black;
}

#header_form .home_btn {
    width: 20%;
    min-width: 80px;
    justify-content: center;
}

.home_btn .home_img {
    margin-top: 10px;
    margin-left: 20%;
    width: 80px;
    height: 80px;
}

#header_form .now_times {
    width: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    padding: 5px;
    font-size: 20px;
    border: 3px solid black;
}

.home_btn .calculate_img {
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 10px;
    width: 80px;
    height: 80px;
}

.home_btn .menuEdit_img {
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 10px;
    width: 80px;
    height: 80px;
}

.home_btn .text{
    width: 55%;
    min-width: 80px;
    margin-left: 20%;
    border: none;
    text-align: center;
    background-color: white;
    font-weight: bold;
}