#main_container { 
    display: flex;
    justify-content: center;
    min-width: 600px;
}

.Pos_form { 
    width : 800px; 
    height : 500px; 
    display: flex;

}

.menu_left { 
    display: block; 
    width : 75%; 
    min-width: 400px;
    height: 100%; 
    border : black solid 5px;
}

.menu_right { 
    display: block;
    width : 200px;
    height: 100%; 
    border : black solid 5px;
}

