.menu_left #menu_list {
	flex-flow: row wrap;
	width: 100%;
	justify-content: center;
}

#menu_list .menu_selectBtn {
	margin-top: 5px;
	margin-left: 3px;
    width : 48%;
    height : 150px;
    justify-content: center;
}

.menu_selectBtn .menu_img {
	margin-top: 5px;
	width: 90%;
	height: 90px;
}

.menu_selectBtn .text{
	width: 90%;
	text-align: center;
}

.menu_right #menu_edit {
	width: 100%;
	height: 100%;
    justify-content: center;
}

#menu_edit .btn_list {
	width: 100%;
	height: 10%;
	margin-top: 5px;
	float: right;
}

.btn_list .add_btn {
	width: 15%;
	height: 100%;
	background: green;
	color: white;
	padding: 5px;
	font-weight: bold;
	text-align: center;
}

.btn_list .delete_btn {
	width: 15%;
	height: 100%;
	background: red;
	color: white;
	padding: 5px;
	font-weight: bold;
	text-align: center;
}

#menu_edit .menu_img {
	margin-left: 30%;
    width: 70%;
    height: 50%;
}

#menu_edit #imagecanvas {
	margin-left: 5%;
    width: 90%;
    height: 211px;
}

#menu_edit .menu_nameTxt{
	line-height: 30px;
	margin-left: 1px;
	width: 97%;
	height: 30px;
	font-size: 20px;
	position: sticky
}

#menu_edit .menu_priceTxt{
	line-height: 30px;
	margin-left: 1px;
	width: 97%;
	height: 30px;
	font-size: 20px;
	position: sticky
}
#menu_edit .btn {
	float: left;
	width: 50%;
	height: 40px;
	font-size: 20px;
    background: #e1e1e1;
	color: #4a6363;
	font-weight: bold;
	position: sticky
}