.menu_left .table_list .btn {
	border-radius: 10px;
	width: 100%;
	height: 80px;
	font-size: 16px;
    background: #e1e1e1;
	color: #4a6363;
	font-weight: bold;
	justify-content: center;
}

.menu_right .payment_top{
	width: 100%;
	text-align: center;
	line-height: 40px;
	height: 40px;
	font-size: 20px;
    background: #e1e1e1;
	color: #4a6363;
}

.menu_right .property {
	display: flex;
	width: 100%;
	line-height: 30px;
	float: left;
	font-weight: bold;
}

.menu_right .order_list {
	width: 100%;
	height: 247px;
	float: left;
	font-weight: bold;
	margin-bottom: 1%;
}

.order_list .order_num {
	display: flex;
	width: 100%;
	height: 30px;
	float: left;
	font-weight: bold;
}

.menu_right .menu_name {
	width: 25%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-right : black solid 1px;
	border-bottom: black solid 1px;
    box-sizing: border-box;
	font-weight: bold;
}

.menu_right .menu_price {
	width: 25%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-right : black solid 1px;
	border-bottom: black solid 1px;
    box-sizing: border-box;
	font-weight: bold;
}

.menu_right .menu_num {
	width: 10%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-right : black solid 1px;
	border-bottom: black solid 1px;
    box-sizing: border-box;
	font-weight: bold;
}

.menu_right .total_price {
	width: 25%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-right : black solid 1px;
	border-bottom: black solid 1px;
    box-sizing: border-box;
	font-weight: bold;
}

.menu_right .empty {
	width: 15%;
	height: 30px;
	text-align: center;	
}

.order_list #delete_btn {
	width: 15%;
	background: red;
	color: white;
	padding: 5px;
	font-weight: bold;
}

.menu_right .total_amount {
	line-height: 30px;
	margin-left: 1px;
	width: 97%;
	height: 30px;
	font-size: 20px;
	position: sticky
}

.menu_right .btn {
	float: left;
	width: 50%;
	height: 40px;
	font-size: 20px;
    background: #e1e1e1;
	color: #4a6363;
	font-weight: bold;
	position: sticky
}