#main_container { 
    display: flex;
    justify-content: center;
}

#main_container #Pos_form_container { 
    display: flex;
    width: 650px;
    height : 400px; 
}

#Pos_form_container #Pos_form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border : black solid 2px;
    box-sizing: border-box;
}

#Pos_form .menu_left { 
    display: block; 
    width: 320px;
    height: 100%; 
    border : red solid 2px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}

#Pos_form .menu_right { 
    display: block;
    width : 330px;
    height: 100%; 
    border : blue solid 2px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}

