.Pos_form .temp_box {

}

.Pos_form .btn_list {
	margin-top:20px;
}

.menu_right .btn_list .btn {
	border-radius: 10px;
	width: 100%;
	height: 80px;
	font-size: 16px;
    background: #e1e1e1;
	color: #4a6363;
	font-weight: bold;
}