.menu_left .table_list{
	width: 100%;
	height: 90%;
	overflow: scroll;
    overflow-x: hidden;
}

.menu_left .table_btn{
	width: 100%;
	height: 10%;
	font-size: 20px;
    background: #e1e1e1;
	color: #4a6363;
	font-weight: bold;
	position: sticky
}

.table_list .btn {
	border-radius: 10px;
	width: 100%;
	height: 80px;
	font-size: 16px;
    background: #e1e1e1;
	color: #4a6363;
	font-weight: bold;
	justify-content: center;
}

.menu_right .payment_top{
	width: 100%;
	text-align: center;
	line-height: 40px;
	height: 40px;
	font-size: 20px;
    background: #e1e1e1;
	color: #4a6363;
}

.menu_right .order_list {
	width: 100%;
	height: 277px;
	float: left;
	font-weight: bold;
	margin-bottom: 1%;
}

.order_list .order_table {
    width: 100%;
	height: 100%;
    display: flex;
	line-height: 30px;
	font-weight: bold;
    overflow: scroll;
    overflow-x: hidden;
}

.order_table th {
	width: 115px;
    position: sticky;
    top: 0px;
    background-color: white;
}

.order_table tr {
	width: 100%;
	height: 30px;
}

.order_table td {
	width: 20%;
	text-align: center;
	border-bottom: black solid 2px;
}
.order_table #delete_btn {
	width: 100%;
	background: red;
	color: white;
	padding: 5px;
	font-weight: bold;
}

.menu_right .total_amount {
	line-height: 30px;
	margin-left: 1px;
	width: 97%;
	height: 30px;
	font-size: 20px;
	position: sticky
}

.menu_right .btn {
	float: left;
	width: 50%;
	height: 40px;
	font-size: 20px;
    background: #e1e1e1;
	color: #4a6363;
	font-weight: bold;
	position: sticky
}