<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 메뉴</title>
    <link rel="stylesheet" href="../static/css/Pos_formCommon.css">
    <link rel="stylesheet" href="../static/css/Pos_main.css">
</head>
<body>
    {% include '/common/header.html' %}   
    <div id="main_container"> 
        <div id="Pos_form_container">
            <div id="Pos_form">
                <div class="menu_left"> 
                    <div class="table_list">
                      {% for table in tableList %}
                      <form method="POST" action="/">
                        <input type="submit" name="table_id" class="btn" value="{{table.table_name }}-{{ table.table_id }}">
                      </form>
                      {% endfor %}
                    </div>
                    <form method="POST" action="/addTable">
                      <button type="submit" id="table_btn" class="table_btn">추가</button>
                    </form>
                  </div>

                <div class="menu_right">
                    <div class="payment_top">결제 화면</div>                    
                    <div class="order_list">
                        <table class="order_table">
                            <tbody>
			                    <tr>
                                    <th class="menu_name">상품명</th>
                                    <th class="menu_price">가격</th>
                                    <th class="menu_num">수</th>
                                    <th class="total_price">합계</th>
                                    <th class="empty"></th>
                    		    </tr>
                            {% if orderList %}
                            {% for orderList in orderList %}
                    		    <tr>
                            		<td class="menu_name" id="menu_name">{{ orderList.menu_name }}</td>
                            		<td class="menu_price" id="menu_price">{{ orderList.menu_price }}</td>
                            		<td class="menu_num" id="menu_num">{{ orderList.count }}</td>
                            		<td class="total_price" id="total_price">{{ orderList.result }}</td>
                            		<td><input type="button" class="empty" id="delete_btn" value="삭제"></td>
                              </tr>
                            {% endfor %}
                            {% else %}
                              <tr>
                            		<td class="menu_name" id="menu_name">없어 임마</td>
                              </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    
                    <input class="total_amount" placeholder="총액 : " readonly>
                    
                    <button type="button" class="btn">결제</button>
                    <button type="button" class="btn">추가</button>
                </div>
            </div>
        </div>
    </div>
</body> 
</html>