<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정산 / 매출</title>
    <link rel="stylesheet" href="../static/css/Pos_formCommon.css">
    <link rel="stylesheet" href="../static/css/Pos_calculate.css">
</head>
<body>
    {% include '/common/header.html' %}
    <div id="main_container"> 
        <div id="Pos_form_container">
            <div id="Pos_form">
                <div class="menu_left">
                   <div class="calculate_view">
                        <div class="select_day">
                            <input type="date" class="select_date" id="date_from" name="date_from">
                            <button type="submit" id="date_btn" class="date_btn" onclick="search_date()">조회</button>
                            <script type="text/javascript">
                                function search_date() {

                                }
                            </script>
                        </div>
                        <table class="daily_property">
                            <tbody>
                                <tr>
                                    <th class="table">테이블 번호</th>
                                    <th class="price">총 액</th>
                                    <th class="time">시간</th>
                                    <th class="empty"></td>
                                </tr>
                                {% for total_calc in total_calc %}
                                <tr>
                                    <td class="table" id="table_num">{{ total_calc.table_id }}</td>
                                    <td class="price" id="total_amount">{{ total_calc.total_result }}</td>
                                    <td class="time" id="sales_time">{{ total_calc.time }}</td>
                                    
                                    <form method="POST" action="calc">
                                        <input type="hidden" name="calc_id" value="{{ total_calc.calc_id }}">
                                        <td><input type="submit" class="daily_sales" value="보기"></td>
                                    </form>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div><input class="total_amount" placeholder="총 매출"></div>
                   </div>
                </div>
                <div class="menu_right">
                    <div class="talbe_calculate">
                        <div class="table_number">테이블 번호</div>
                        <div class="table_orderList">
                            <table class="orderlist_table">
                                <tbody>
                                    <tr>
                                        <th class="menu_name">상품명</th>
                                        <th class="menu_price">메뉴 가격</th>
                                        <th class="menu_num">수량</th>
                                    </tr>
                                    {% if total_detail %}
                                    {% for total_detail in total_detail %}
                                    <tr>
                                        <td class="menu_name" id="menu_name">{{ total_detail.menu_name }}</td>
                                        <td class="menu_price" id="menu_price">{{ total_detail.menu_price }}</td>
                                        <td class="menu_num" id="menu_num">{{ total_detail.count }}</td>                        
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <div>없음</div>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div><input class="total_amount" placeholder="총액"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>