<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정산 / 매출</title>
    <link rel="stylesheet" href="../static/css/Pos_formCommon.css">
    <link rel="stylesheet" href="../static/css/Pos_calculate.css">
</head>
<body>
    {% include '/common/header.html' %}
    <div id="main_container"> 
        <div id="Pos_form_container">
            <div id="Pos_form">
                <div class="menu_left">
                   <div class="calculate_view">
                        <div class="select_day">날짜 선택</div>
                        <table class="daily_property">
                            <tbody>
                                <tr>
                                    <th class="table">테이블 번호</th>
                                    <th class="price">총 액</th>
                                    <th class="time">시간</th>
                                    <th class="empty"></td>
                                </tr>
                                <tr>
                                    <td class="table" id="table_num">1</td>
                                    <td class="price" id="total_amount">20000</td>
                                    <td class="time" id="sales_time">21.11.26</td>  
                                    <td><input type="button" class="daily_sales" value="보기"></td>
                                </tr>
                                <tr>
                                    <td class="table" id="table_num">1</td>
                                    <td class="price" id="total_amount">20000</td>
                                    <td class="time" id="sales_time">21.11.26</td>  
                                    <td><input type="button" class="daily_sales" value="보기"></td>
                                </tr>
                                <tr>
                                    <td class="table" id="table_num">1</td>
                                    <td class="price" id="total_amount">20000</td>
                                    <td class="time" id="sales_time">21.11.26</td>  
                                    <td><input type="button" class="daily_sales" value="보기"></td>
                                </tr>
                                <tr>
                                    <td class="table" id="table_num">1</td>
                                    <td class="price" id="total_amount">20000</td>
                                    <td class="time" id="sales_time">21.11.26</td>  
                                    <td><input type="button" class="daily_sales" value="보기"></td>
                                </tr>
                                <tr>
                                    <td class="table" id="table_num">1</td>
                                    <td class="price" id="total_amount">20000</td>
                                    <td class="time" id="sales_time">21.11.26</td>  
                                    <td><input type="button" class="daily_sales" value="보기"></td>
                                </tr>
                                <tr>
                                    <td class="table" id="table_num">1</td>
                                    <td class="price" id="total_amount">20000</td>
                                    <td class="time" id="sales_time">21.11.26</td>  
                                    <td><input type="button" class="daily_sales" value="보기"></td>
                                </tr>
                                <tr>
                                    <td class="table" id="table_num">1</td>
                                    <td class="price" id="total_amount">20000</td>
                                    <td class="time" id="sales_time">21.11.26</td>  
                                    <td><input type="button" class="daily_sales" value="보기"></td>
                                </tr>
                                <tr>
                                    <td class="table" id="table_num">1</td>
                                    <td class="price" id="total_amount">20000</td>
                                    <td class="time" id="sales_time">21.11.26</td>  
                                    <td><input type="button" class="daily_sales" value="보기"></td>
                                </tr>
                                <tr>
                                    <td class="table" id="table_num">1</td>
                                    <td class="price" id="total_amount">20000</td>
                                    <td class="time" id="sales_time">21.11.26</td>  
                                    <td><input type="button" class="daily_sales" value="보기"></td>
                                </tr>
                                <tr>
                                    <td class="table" id="table_num">1</td>
                                    <td class="price" id="total_amount">20000</td>
                                    <td class="time" id="sales_time">21.11.26</td>  
                                    <td><input type="button" class="daily_sales" value="보기"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div><input class="total_amount" placeholder="총 매출"></div>
                   </div>
                </div>
                <div class="menu_right">
                    <div class="talbe_calculate">
                        <div class="table_number">테이블 번호</div>
                        <div class="table_orderList">
                            <table class="orderlist_table">
                                <tbody>
                                    <tr>
                                        <th class="menu_name">상품명</th>
                                        <th class="menu_price">메뉴 가격</th>
                                        <th class="menu_num">수량</th>
                                    </tr>
                                    <tr>
                                        <td class="menu_name" id="menu_name">치킨</td>
                                        <td class="menu_price" id="menu_price">20,000</td>
                                        <td class="menu_num" id="menu_num">2</td>                        
                                    </tr>
                                    <tr>
                                        <td class="menu_name" id="menu_name">치킨</td>
                                        <td class="menu_price" id="menu_price">20,000</td>
                                        <td class="menu_num" id="menu_num">2</td>                        
                                    </tr>
                                    <tr>
                                        <td class="menu_name" id="menu_name">치킨</td>
                                        <td class="menu_price" id="menu_price">20,000</td>
                                        <td class="menu_num" id="menu_num">2</td>                        
                                    </tr>
                                    <tr>
                                        <td class="menu_name" id="menu_name">치킨</td>
                                        <td class="menu_price" id="menu_price">20,000</td>
                                        <td class="menu_num" id="menu_num">2</td>                        
                                    </tr>
                                    <tr>
                                        <td class="menu_name" id="menu_name">치킨</td>
                                        <td class="menu_price" id="menu_price">20,000</td>
                                        <td class="menu_num" id="menu_num">2</td>                        
                                    </tr>
                                    <tr>
                                        <td class="menu_name" id="menu_name">치킨</td>
                                        <td class="menu_price" id="menu_price">20,000</td>
                                        <td class="menu_num" id="menu_num">2</td>                        
                                    </tr>
                                    <tr>
                                        <td class="menu_name" id="menu_name">치킨</td>
                                        <td class="menu_price" id="menu_price">20,000</td>
                                        <td class="menu_num" id="menu_num">2</td>                        
                                    </tr>
                                    <tr>
                                        <td class="menu_name" id="menu_name">치킨</td>
                                        <td class="menu_price" id="menu_price">20,000</td>
                                        <td class="menu_num" id="menu_num">2</td>                        
                                    </tr>
                                    <tr>
                                        <td class="menu_name" id="menu_name">치킨</td>
                                        <td class="menu_price" id="menu_price">20,000</td>
                                        <td class="menu_num" id="menu_num">2</td>                        
                                    </tr>
                                    <tr>
                                        <td class="menu_name" id="menu_name">치킨</td>
                                        <td class="menu_price" id="menu_price">20,000</td>
                                        <td class="menu_num" id="menu_num">2</td>                        
                                    </tr>
                                    <tr>
                                        <td class="menu_name" id="menu_name">치킨</td>
                                        <td class="menu_price" id="menu_price">20,000</td>
                                        <td class="menu_num" id="menu_num">2</td>                        
                                    </tr>
                                    <tr>
                                        <td class="menu_name" id="menu_name">치킨</td>
                                        <td class="menu_price" id="menu_price">20,000</td>
                                        <td class="menu_num" id="menu_num">2</td>                        
                                    </tr>
                                    <tr>
                                        <td class="menu_name" id="menu_name">치킨</td>
                                        <td class="menu_price" id="menu_price">20,000</td>
                                        <td class="menu_num" id="menu_num">2</td>                        
                                    </tr>
                                    <tr>
                                        <td class="menu_name" id="menu_name">치킨</td>
                                        <td class="menu_price" id="menu_price">20,000</td>
                                        <td class="menu_num" id="menu_num">2</td>                        
                                    </tr>
                                    <tr>
                                        <td class="menu_name" id="menu_name">치킨</td>
                                        <td class="menu_price" id="menu_price">20,000</td>
                                        <td class="menu_num" id="menu_num">2</td>                        
                                    </tr>
                                    <tr>
                                        <td class="menu_name" id="menu_name">치킨</td>
                                        <td class="menu_price" id="menu_price">20,000</td>
                                        <td class="menu_num" id="menu_num">2</td>                        
                                    </tr>
                                    <tr>
                                        <td class="menu_name" id="menu_name">치킨</td>
                                        <td class="menu_price" id="menu_price">20,000</td>
                                        <td class="menu_num" id="menu_num">2</td>                        
                                    </tr>
                                    <tr>
                                        <td class="menu_name" id="menu_name">치킨</td>
                                        <td class="menu_price" id="menu_price">20,000</td>
                                        <td class="menu_num" id="menu_num">2</td>                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div><input class="total_amount" placeholder="총액"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>