<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴 편집</title>
    <link rel="stylesheet" href="../static/css/Pos_formCommon.css">
    <link rel="stylesheet" href="../static/css/Pos_menuEdit.css">
</head>
<body>
    <div id="main_container"> 
        <div id="Pos_form_container">
            <div id="Pos_form">
                <div class="menu_left">
                    <div id="menu_list">
                        <button class="menu_selectBtn">
                            <img class="menu_img" src="../static/img/food_img.png">
                            <div><input class="text" readonly value="치킨" disabled></div>
                            <div><input class="text" readonly value="20,000" disabled></div>
                        </button>
                        <!-- 칸 이동 테스트용 -->
                        <button class="menu_selectBtn">
                            <img class="menu_img" src="../static/img/food_img.png">
                            <div><input class="text" readonly value="치킨" disabled></div>
                            <div><input class="text" readonly value="20,000" disabled></div>
                        </button>
                        <button class="menu_selectBtn">
                            <img class="menu_img" src="../static/img/food_img.png">
                            <div><input class="text" readonly value="치킨" disabled></div>
                            <div><input class="text" readonly value="20,000" disabled></div>
                        </button>
                        <button class="menu_selectBtn">
                            <img class="menu_img" src="../static/img/food_img.png">
                            <div><input class="text" readonly value="치킨" disabled></div>
                            <div><input class="text" readonly value="20,000" disabled></div>
                        </button>
                        <button class="menu_selectBtn">
                            <img class="menu_img" src="../static/img/food_img.png">
                            <div><input class="text" readonly value="치킨" disabled></div>
                            <div><input class="text" readonly value="20,000" disabled></div>
                        </button>
                        <button class="menu_selectBtn">
                            <img class="menu_img" src="../static/img/food_img.png">
                            <div><input class="text" readonly value="치킨" disabled></div>
                            <div><input class="text" readonly value="20,000" disabled></div>
                        </button>
                        <button class="menu_selectBtn">
                            <img class="menu_img" src="../static/img/food_img.png">
                            <div><input class="text" readonly value="치킨" disabled></div>
                            <div><input class="text" readonly value="20,000" disabled></div>
                        </button>
                        <!--  -->
                    </div>
                </div>
                <div class="menu_right">
                    <div id="menu_edit">
                        <div class="btn_list">
                            <button type="button" class="add_btn">추가</button>
                            <button type="button" class="delete_btn">삭제</button>   
                        </div>
                        <img class="menu_img" src="../static/img/food_img.png">
                        <div><input class="menu_nameTxt" placeholder="메뉴 이름"></div>
                        <div><input class="menu_priceTxt" placeholder="메뉴 가격"></div>
                        <div>
                            <button type="button" class="btn">저장</button>
                            <button type="button" class="btn">취소</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>