<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴 편집</title>
    <link rel="stylesheet" href="../static/css/Pos_formCommon.css">
    <link rel="stylesheet" href="../static/css/Pos_menuEdit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    {% include '/common/header.html' %}
    <div id="main_container"> 
        <div id="Pos_form_container">
            <div id="Pos_form">
                <div class="menu_left">
                    <div id="menu_list">
                        
                    {% for menu in menuList %}
                            <div class="select_menu">
                                <div id="menu_inform" class="menu_inform">
                                    <img class="menu_img" src="../static/menuimg/{{ menu.file_name }}">
                                    <div><input id="menu_nameTxtLeft" class="text" readonly value="{{ menu.menu_name }}" ></div>
                                    <div><input name="menu_priceTxtLeft" class="text" readonly value="{{ menu.menu_price }}" ></div>
                                </div>
                            
                            <form method="POST", action="/menuedit">
                                <input type="hidden" name="menuid" id="menuid" class="menuid" value="{{ menu.menu_id }}">
                                <button type="submit" id="select_btn" class="select_btn">선택</button>
                            </form>
                            <form method="POST" action="/menueditdelete">
                                <input type="hidden" name="menuid" id="menuid" class="menuid" value="{{ menu.menu_id }}">
                                <button type="submit" id="delete_btn" class="delete_btn">삭제</button>
                            </form>
                            </div>
                    {% endfor %}                       
                    </div>
                </div>
                <div class="menu_right">
                    <div id="menu_edit">
                        
                        <div class="btn_list">
                            <button type="button" class="add_btn">추가</button>                              
                        </div>

                        <form method="POST" action="/menueditinsert" enctype="multipart/form-data">
                            {% if imsimenulist and imsimenuimg %}   
                            <div><img class="menu_img" src="../static/menuimg/{{ imsimenuimg[0].file_name }}">
                                <input name="menu_img" type="file" class="menu_img" id="menu_img" onchange="input_img(this.files)" accept="image/*">
                                <canvas id="imagecanvas"></canvas>
                                <script type="text/javascript">
                                    function input_img(img_file){
                                        var file = img_file[0];                                    			
                                         var reader = new FileReader();
                                         
                                         reader.onload = function(e){
                                             var img = new Image();
                                             img.onload = function(){
                                                
                                                const canvas = document.getElementById('imagecanvas');
                                                const ctx = canvas.getContext('2d');
                                                 ctx.drawImage(img, 0, 0, 300, 150);
                                             }
                                             img.src = e.target.result;
                                         }
                                         
                                         reader.readAsDataURL(file);
                                    }
                                </script>
                            </div>                      
                            <div><input name="menu_nameTxtRight" id="menu_nameTxt" class="menu_nameTxt"  value="{{ imsimenulist[0].menu_name }}" placeholder="메뉴 이름"></div>                            
                            <div><input name="menu_priceTxtRight" class="menu_priceTxt" value="{{ imsimenulist[0].menu_price }}" placeholder="메뉴 가격"></div>                          
                            {% else %}
                            <div>
                                <input name="menu_img" type="file" class="menu_img" id="menu_img" onchange="input_img(this.files)" accept="image/*">
                                <canvas id="imagecanvas"></canvas>
                                <script type="text/javascript">
                                    function input_img(img_file){
                                        var file = img_file[0];                                    			
                                         var reader = new FileReader();
                                         
                                         reader.onload = function(e){
                                             var img = new Image();
                                             img.onload = function(){
                                                
                                                const canvas = document.getElementById('imagecanvas');
                                                const ctx = canvas.getContext('2d');
                                                 ctx.drawImage(img, 0, 0, 300, 150);
                                             }
                                             img.src = e.target.result;
                                         }
                                         
                                         reader.readAsDataURL(file);
                                    }
                                </script>
                            </div>
                            <div><input name="menu_nameTxtRight" id="menu_nameTxt" class="menu_nameTxt"  value="" placeholder="메뉴 이름"></div>                            
                            <div><input name="menu_priceTxtRight" class="menu_priceTxt" value="" placeholder="메뉴 가격"></div> 
                            {% endif %}
                            <div>
                                <button type="submit" id="savebtn" class="btn">저장</button>
                                <button type="button" id="canclebtn" class="btn">취소</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>