<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 메뉴</title>
    <link rel="stylesheet" href="../static/css/Pos_formCommon.css">
    <link rel="stylesheet" href="../static/css/Pos_main.css">
</head>
<body>
    {% include '/common/header.html' %}   
    <div id="main_container"> 
        <div id="Pos_form_container">
            <div id="Pos_form">
                <div class="menu_left"> 
                    <div class="table_list">
                        <button type="button" class="btn" onClick="location.href='#'" >테이블1</button>
                        <button type="button" class="btn" onClick="location.href='#'" >테이블2</button>
                        <button type="button" class="btn" onClick="location.href='#'" >테이블3</button>
                        <button type="button" class="btn" onClick="location.href='#'" >테이블4</button>
                        <button type="button" class="btn" onClick="location.href='#'" >테이블5</button>
                    </div>
                </div>

                <div class="menu_right">
                    <div class="payment_top">결제 화면</div>                    
                    <div class="order_list">
                        <table class="order_table">
                            <tbody>
			                    <tr>
                                    <th class="menu_name">상품명</th>
                                    <th class="menu_price">가격</th>
                                    <th class="menu_num">수</th>
                                    <th class="total_price">합계</th>
                                    <th class="empty"></th>
                    		    </tr>
                    		    <tr>
                            		<td class="menu_name" id="menu_name">치킨</td>
                            		<td class="menu_price" id="menu_price">20,000</td>
                            		<td class="menu_num" id="menu_num">2</td>
                            		<td class="total_price" id="total_price">40,000</td>
                            		<td><input type="button" class="empty" id="delete_btn" value="삭제"></td>
                                </tr>
                                <tr>
                            		<td class="menu_name" id="menu_name">치킨</td>
                            		<td class="menu_price" id="menu_price">20,000</td>
                            		<td class="menu_num" id="menu_num">2</td>
                            		<td class="total_price" id="total_price">40,000</td>
                            		<td><input type="button" class="empty" id="delete_btn" value="삭제"></td>
                                </tr>
                                <tr>
                            		<td class="menu_name" id="menu_name">치킨</td>
                            		<td class="menu_price" id="menu_price">20,000</td>
                            		<td class="menu_num" id="menu_num">2</td>
                            		<td class="total_price" id="total_price">40,000</td>
                            		<td><input type="button" class="empty" id="delete_btn" value="삭제"></td>
                                </tr>
                                <tr>
                            		<td class="menu_name" id="menu_name">치킨</td>
                            		<td class="menu_price" id="menu_price">20,000</td>
                            		<td class="menu_num" id="menu_num">2</td>
                            		<td class="total_price" id="total_price">40,000</td>
                            		<td><input type="button" class="empty" id="delete_btn" value="삭제"></td>
                                </tr>
                                <tr>
                            		<td class="menu_name" id="menu_name">치킨</td>
                            		<td class="menu_price" id="menu_price">20,000</td>
                            		<td class="menu_num" id="menu_num">2</td>
                            		<td class="total_price" id="total_price">40,000</td>
                            		<td><input type="button" class="empty" id="delete_btn" value="삭제"></td>
                                </tr>
                                <tr>
                            		<td class="menu_name" id="menu_name">치킨</td>
                            		<td class="menu_price" id="menu_price">20,000</td>
                            		<td class="menu_num" id="menu_num">2</td>
                            		<td class="total_price" id="total_price">40,000</td>
                            		<td><input type="button" class="empty" id="delete_btn" value="삭제"></td>
                                </tr>
                                <tr>
                            		<td class="menu_name" id="menu_name">치킨</td>
                            		<td class="menu_price" id="menu_price">20,000</td>
                            		<td class="menu_num" id="menu_num">2</td>
                            		<td class="total_price" id="total_price">40,000</td>
                            		<td><input type="button" class="empty" id="delete_btn" value="삭제"></td>
                                </tr>
                                <tr>
                            		<td class="menu_name" id="menu_name">치킨</td>
                            		<td class="menu_price" id="menu_price">20,000</td>
                            		<td class="menu_num" id="menu_num">2</td>
                            		<td class="total_price" id="total_price">40,000</td>
                            		<td><input type="button" class="empty" id="delete_btn" value="삭제"></td>
                                </tr>
                                <tr>
                            		<td class="menu_name" id="menu_name">치킨</td>
                            		<td class="menu_price" id="menu_price">20,000</td>
                            		<td class="menu_num" id="menu_num">2</td>
                            		<td class="total_price" id="total_price">40,000</td>
                            		<td><input type="button" class="empty" id="delete_btn" value="삭제"></td>
                                </tr>
                                <tr>
                            		<td class="menu_name" id="menu_name">치킨</td>
                            		<td class="menu_price" id="menu_price">20,000</td>
                            		<td class="menu_num" id="menu_num">2</td>
                            		<td class="total_price" id="total_price">40,000,000</td>
                            		<td><input type="button" class="empty" id="delete_btn" value="삭제"></td>
                                </tr>
                                <tr>
                            		<td class="menu_name" id="menu_name">치킨</td>
                            		<td class="menu_price" id="menu_price">20,000</td>
                            		<td class="menu_num" id="menu_num">2</td>
                            		<td class="total_price" id="total_price">40,000</td>
                            		<td><input type="button" class="empty" id="delete_btn" value="삭제"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <input class="total_amount" placeholder="총액 : " readonly>
                    
                    <button type="button" class="btn">결제</button>
                    <button type="button" class="btn">추가</button>
                </div>
            </div>
        </div>
    </div>
</body> 
</html>