<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴 편집</title>
    <link rel="stylesheet" href="../static/css/Pos_formCommon.css">
    <link rel="stylesheet" href="../static/css/Pos_menuEdit.css">
</head>
<body>
    {% include '/common/header.html' %}
    <div id="main_container"> 
        <div id="Pos_form_container">
            <div id="Pos_form">
                <div class="menu_left">
                    <div id="menu_list">
                        <button class="menu_selectBtn">
                            <img class="menu_img" src="../static/img/food_img.png">
                            <div><input class="text" readonly value="치킨" disabled></div>
                            <div><input class="text" readonly value="20,000" disabled></div>
                        </button>
                        <!-- 칸 이동 테스트용 -->
                        <button class="menu_selectBtn">
                            <img class="menu_img" src="../static/img/food_img.png">
                            <div><input class="text" readonly value="치킨" disabled></div>
                            <div><input class="text" readonly value="20,000" disabled></div>
                        </button>
                        <button class="menu_selectBtn">
                            <img class="menu_img" src="../static/img/food_img.png">
                            <div><input class="text" readonly value="치킨" disabled></div>
                            <div><input class="text" readonly value="20,000" disabled></div>
                        </button>
                        <button class="menu_selectBtn">
                            <img class="menu_img" src="../static/img/food_img.png">
                            <div><input class="text" readonly value="치킨" disabled></div>
                            <div><input class="text" readonly value="20,000" disabled></div>
                        </button>
                        <button class="menu_selectBtn">
                            <img class="menu_img" src="../static/img/food_img.png">
                            <div><input class="text" readonly value="치킨" disabled></div>
                            <div><input class="text" readonly value="20,000" disabled></div>
                        </button>
                        <button class="menu_selectBtn">
                            <img class="menu_img" src="../static/img/food_img.png">
                            <div><input class="text" readonly value="치킨" disabled></div>
                            <div><input class="text" readonly value="20,000" disabled></div>
                        </button>
                        <button class="menu_selectBtn">
                            <img class="menu_img" src="../static/img/food_img.png">
                            <div><input class="text" readonly value="치킨" disabled></div>
                            <div><input class="text" readonly value="20,000" disabled></div>
                        </button>
                        <!--  -->
                    </div>
                </div>
                <div class="menu_right">
                    <div id="menu_edit">
                        <div class="btn_list">
                            <button type="button" class="add_btn">추가</button>
                            <button type="button" class="delete_btn">삭제</button>   
                        </div>

                        <form method="POST" action="/menuedit" enctype="multipart/form-data">
                            <!-- <img class="menu_img" src="../static/img/food_img.png"> -->
                            <div>
                                <input name="menu_img" type="file" class="menu_img" id="menu_img">
                                <canvas id="imagecanvas">
                                    
                                </canvas>
                            </div>
                            <div><input name="menu_nameTxt" class="menu_nameTxt" placeholder="메뉴 이름"></div>
                            <div><input name="menu_priceTxt" class="menu_priceTxt" placeholder="메뉴 가격"></div>
                            <div>
                                <button type="submit" class="btn">저장</button>
                                <button type="button" class="btn">취소</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var canvas = document.getElementById('imagecanvas');
    var ctx = canvas.getContext('2d');

    function handleImage(e){
        var reader = new FileReader();
        reader.onload = function(event){
            var img = new Image();
            img.onload = function(){
                canvas.width = 300;
                canvas.height = 300;
                ctx.drawImage(img, 0, 0, 300, 300);
            };
            img.src = event.target.result;
        };
        reader.readAsDataURL(e.target.files[0]);
    }

</script>
</html>